@font-face {
    font-family: 'Sense Font';
    src: url('SenseFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 45px 45px 90px 45px;
    padding: 0;
    background-color: #fff; /* 흰색 배경색 설정 */
    overflow: hidden; /* 스크롤 숨기기 */
    font-family: 'Sense Font', sans-serif;
    color: black;
}

#description {
    font-family: 'Sense Font', sans-serif;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px); /* 상단 45px, 하단 45px 여백 제외한 높이 */
}

.dot {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 0, 0); /* 빨간 작은 원 설정 */
    border-radius: 50%;
    pointer-events: none; /* 커서 이벤트 무시 */
    display: none; /* 초기에는 숨김 */
    left: 45px; /* 좌측 여백 45px */
    top: 45px; /* 상단 여백 45px */
    bottom: 107px;
    right: 45px;
}

.click-again {
    position: absolute;
    display: block;
    font-size: 10px;
    text-align: center;
    padding: 7px 10px;
    border-radius: 10px;
    color: black;
    transition: opacity 1s ease-in-out;
    left: 45px;
    bottom: 90px; /* 아래쪽 여백을 90px로 설정 */
    max-width: calc(100% - 90px); /* 좌우 여백 45px씩 */
}

.click-again.show {
    display: block;
    opacity: 1;
    left: 45px; /* 좌측 여백 45px */
    bottom: 45px; /* 하단 여백 45px */
}

h1 {
    font-size: 36px;
    margin: 45px; /* 상하좌우 여백 45px */
}

.text-group {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text p {
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    transition: opacity 2s;
}

.text p:nth-child(1) {
    animation: fadeIn 2s 2s forwards;
}

.text p:nth-child(2) {
    animation: fadeIn 2s 4s forwards;
}

.text p:nth-child(3) {
    animation: fadeIn 2s 6s forwards;
}

.text p:nth-child(4) {
    animation: fadeIn 2s 8s forwards;
}
